<form>
  <div class="row">
    <div class="col">
      <label for="datum" i18n>Datum</label>
      <div class="input-group">
        <input
          id="datum"
          class="form-control"
          placeholder="mm-dd-yyyy"
          name="datumKupovine"
          [(ngModel)]="model"
          ngbDatepicker
          #d="ngbDatepicker"
        />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
    <div class="col">
      <label for="izvor" i18n>Izvor</label>
      <input type="text" class="form-control" id="izvor">
    </div>
    <div class="col">
      <label for="zarada" i18n>Zarada</label>
      <input type="number" class="form-control" id="zarada">
    </div>
    <div class="col">
      <button class="btn btn-primary submit-btn" i18n>Sacuvaj</button>
    </div>
  </div>
</form>
