
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="navigateToHome()" style="cursor: pointer">Finance manager</a>
    <form class="d-flex input-group w-auto">
      <div class="dropdown">
        <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <span class="fi icon-stat"></span>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item" (click)="navigateToStatisticByShop()">Statistika po prodavnicama</button>
          <button class="dropdown-item" (click)="navigateToStatisticByYear()">Statistika po godinama</button>
          <button class="dropdown-item" (click)="navigateToStatisticsByMonth()">Statistika po mesecima</button>
        </div>
      </div>
      <button class="btn"><span class="fi fi-rs"></span></button>
      <input
        type="search"
        class="form-control search-control"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <button class="btn btn-outline-primary">Search</button>
    </form>
  </div>
</nav>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
