<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="navigateToHome()" style="cursor: pointer"><span class="bi bi-house"></span> <span
      class="home-logo">Finance manager</span></a>
    <form class="d-flex input-group w-auto">
      <div class="dropdown">
        <button class="btn" type="button" id="statDropdownBtn" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <span class="fi icon-stat"></span>
        </button>

        <div class="dropdown-menu" aria-labelledby="statDropdownBtn">
          <button class="dropdown-item" (click)="navigateToStatisticByShop()" i18n>Statistika po prodavnicama</button>
          <button class="dropdown-item" (click)="navigateToStatisticByYear()" i18n>Statistika po godinama</button>
          <button class="dropdown-item" (click)="navigateToStatisticsByMonth()" i18n>Statistika po mesecima</button>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn" type="button" id="languageDropdownBtn" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><span
          [ngClass]="{'fi-rs': activeLocale === 'sr', 'fi-gb': activeLocale === 'en-GB'}" class="fi"></span></button>

        <div class="dropdown-menu lang-menu" aria-labelledby="statDropdownBtn">
          <button class="btn dropdown-item" (click)="changeLocale('sr')"><span class="fi fi-rs"></span></button>
          <button class="dropdown-item" (click)="changeLocale('en-GB')"><span class="fi fi-gb"></span></button>
        </div>
      </div>
      <input
        type="search"
        class="form-control search-control"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <button class="btn btn-outline-primary">Search</button>
    </form>
  </div>
</nav>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
